# Local: Ollama must be running (https://ollama.com)
# Cloud: Set your Ollama API key for hosted inference
export OLLAMA_API_KEY="insert_API_Key_Here"
export OPENAI_API_KEY="insert_API_Key_Here"
export ANTHROPIC_API_KEY="insert_API_Key_Here"
export TAVILY_API_KEY="insert_API_Key_Here"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="AI Notebook"

